<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style_about.css">
    <title>harsh</title>
</head>
<body>

    <header>
        <nav>            
            <ul class="nav">
                <div class="logo">
                    <img src="../static/food3.jpg" alt="logo">
                </div>
                <li><a href="Home">Home</a></li>
                <li><a href="Order-food">Order Food</a></li> 
                <li><a href="Review">Review</a></li>
                <li><a href="About">About</a></li>
                <li><a href="Login">Login</a></li>
            </ul>
        </nav>
    </header>




    <main>
        <div class="container">
            <p class="tital_name">About us</p>

            <div class="container2">
                <div class="block1">
                    <img src="../static/about1.jpg" style="width: 265px; height: 157px; margin-left: 90px; margin-top: 21px;">
                    <p class="abt1">Our restaurent had clean kitchen. and aur cooks are Good. When you run a kitchen, no matter how crazy and chaotic it gets, you have to be the calm one. You cannot show any sign of fear - the guests pick up on it. The beauty of this kitchen, though, is that everybody helps everybody.</p>
                </div>
                <div class="block2">
                    <img src="../static/about2.webp" style="width: 265px; height: 157px; margin-left: 90px; margin-top: 21px;">
                    <p class="abt2">We had good tables and lighting view in our Restaurent. Your restaurant floor plan is essentially a map of your restaurant’s physical space. When designed well, your restaurant floor plan can affect your profit margins by increasing efficiency, creating ease of movement, securing the safety of your staff and guests, and ultimately enhancing your customer experience.</p>
                </div>
                <div class="block3">
                    <img src="../static/about3.webp" style="width: 265px; height: 157px; margin-left: 90px; margin-top: 21px;">
                    <p class="abt3">Our restaurent also had open terise view and sea view to enjoy more during dinner. our restaurants with rooftops have a stairway leading to the top. This, however, may not be a feasible option for all of your guests – especially elderly patrons and those with disabilities.</p>
                </div>
            </div>
            <div class="container3">
                <div class="block4">
                    <img src="../static/about4.jpeg" style="width: 265px; height: 157px; margin-left: 90px; margin-top: 21px;">
                    <p class="abt4">Recently our restaurend awarded as best Restaurent in the Mharashtra state. by the Chif Minister of Mahrashtra "Shri. Eknath Shinde" sir. So we feel proud for that.</p>
                </div>
                <div class="block5">
                    <img src="../static/about5.jpg" style="width: 265px; height: 157px; margin-left: 90px; margin-top: 21px;">
                    <p class="abt5">In our Restaurent we Provide special offer and Discount on Weakends. We also gave offers and discount on Festivals. In our restaurent we entatent kids and arange games or lucky-draw.</p>
                </div>
            </div>
        </div>
    </main>




    <footer>
        <p>Copyrights &copy; 2023 Mhatre Restaurents. All rights reserved | Design By Harsh Mhatre</p>
    </footer>
</body>
</html>